<div
  (touchmove)="$event.preventDefault()"
  (pointerdown)="pointerDown($event)"
  (pointerup)="pointerUp($event)"
  (pointermove)="onPointerMove($event)"
  (touchstart)="pointerDown($event.touches[0])"
    (touchend)="pointerUp($event.ouches[0])"
    (touchmove)="onPointerMove($event.touches[0])"
    (pinchstart)="onPinchStart($event)"
    (pinch)="onPinch($event)"
    (panmove)="onPanMove($event)"
  oncontextmenu="return false;"
  style="width: 100%; height: 100%; overflow: hidden;"
>
  <canvas #canvas class="canvas"></canvas>
  <app-gltf-object
    *ngIf="columnPositions"
    [positions]="columnPositions"
    [scene]="scene"
  ></app-gltf-object>
  <app-floor [scene]="scene"></app-floor>
  <app-chamber [scene]="scene"></app-chamber>
  <app-architrave [scene]="scene"></app-architrave>
  <app-roof [scene]="scene"></app-roof>
</div>
<div style="position:absolute; left:0; top:0;">Message3: {{debugMessage}}</div>
